.ferin_sidebar
{
    display: none !important;
}
#addRoom__form
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_field_area
{
    width: 50%;
}
.img-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-wrapper img
{
    height: 200px;
    width: 200px;
}
@media(max-width: 789px){
    .div-wrapper
    {
        width: 100%;
    }
    #addRoom__form
    {
        width: 100%;
        display: block;
    }
    .input_field_area
    {
        width: 100%;
    }
}
