.ferin_sidebar
{
    display: none !important;
}
.container-fluid
{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-width
{
    width: 70%;
}
